<html lang="nl">
	<head>

		<title>het is verrukkuluk! ::
			{{ title }}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/fonts.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css"/>

		<link rel="stylesheet" type="text/css" href="assets/css/main.css"/>


		<script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
		<script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
		<link rel="stylesheet" href="vegas/vegas.css"/>

		<script src="vegas/vegas.js"></script>

		<script>
			function load_background_header(pagina,image) {
				console.log(pagina)
				if (pagina != "detail") {
					$("#background-image").vegas({
						slides: [
							{src: "assets/img/vegas_assets/vegas_eten_1.jpg"}, 
							{src: "assets/img/vegas_assets/vegas_eten_2.jpg"}, 
							{src: "assets/img/vegas_assets/vegas_eten_4.jpg"}, 
							{src: "assets/img/vegas_assets/vegas_eten_4.jpg"},
						]
				})} else{
					$("#background-image").css("background-image", "url(" + image + ")")
					$("#background-image").css("background-repeat", "no-repeat")
					$("#background-image").css("background-size", "cover")
					$("#background-image").css("background-position", "center center")
				}
			}
		</script>
	</head>
</html>
<body onload="load_background_header('{{title}}', '{{ data[0].afbeelding }}')">

	<div class="container-fluid">

		<div class="row header">
			<div
				class="col-md-12 " id="background-image">
				<!-- top section with the logo but withouth the agenda-->
				<div class="row">
					<div class="col-md-9">

						{% block header %}
							<img src="assets/img/logo-v2.png" / class='header_logo'>
						{% endblock %}
					</div>
					<div class="col-md-2" class="search_bar_corner">
						<form method="GET" action="">
							<i class="fa fa-search iconleft"></i>
							<input type="text" placeholder="Zoeken" class="search_bar">
						</form>
					</div>
					<div class="col-md-1" class="search_bar_corner">
                        <div class="menu">
						<div class="fa fa-bars dropdown_button ">
						<div class="dropdown">
							<div>
								<img src="assets/img/logo-v2.png" / class='dropdown_logo'>
								<div class="dropdown_text">Mijn Favorieten</div>
								<a class="dropdown_text" style="margin-left: 10%" href="index.php?action=boodschappenlijst">Mijn Boodschappenlijst</a>
							</div>
						</div>
                        </div>
                        </div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div
				class="col-md-3" style='background-color: #fff'>
				<!--left zide of the screen with the agenda-->
				<div class="col-md-12 agenda_block">
					<h2>Agenda
					</h2>
					<ul list style="list-style-type: none;">
						<li class="list-item">
							<div class="row">
								<div class="col-md-2 fa fa-calendar agenda_icon"></div>
								<div class="col-md-10 ">
									<h5 class="agenda_item_title">
										Vegetarisch koken
									</h5>
									<p class="agenda_item_text">
										Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee
									</p>
								</div>
							</div>
						</li>
						<li class="list-item">
							<div class="row">
								<div class="col-md-2 fa fa-calendar agenda_icon"></div>
								<div class="col-md-10 ">
									<h5 class="agenda_item_title">
										Vegetarisch koken
									</h5>
									<p class="agenda_item_text">
										Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee
									</p>
								</div>
							</div>
						</li>
						<li class="list-item">
							<div class="row">
								<div class="col-md-2 fa fa-calendar agenda_icon"></div>
								<div class="col-md-10 ">
									<h5 class="agenda_item_title">
										Vegetarisch koken
									</h5>
									<p class="agenda_item_text">
										Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee
									</p>
								</div>
							</div>
						</li>
						<li class="list-item">
							<div class="row">
								<div class="col-md-2 fa fa-calendar agenda_icon"></div>
								<div class="col-md-10 ">
									<h5 class="agenda_item_title">
										Vegetarisch koken
									</h5>
									<p class="agenda_item_text">
										Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee
									</p>
								</div>
							</div>
						</li>
						<li class="list-item">
							<div class="row">
								<div class="col-md-2 fa fa-calendar agenda_icon"></div>
								<div class="col-md-10 ">
									<h5 class="agenda_item_title">
										Vegetarisch koken
									</h5>
									<p class="agenda_item_text">
										Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee
									</p>
								</div>
							</div>
						</li>
                        <li class="list-item">
							<div class="row">
								<div class="col-md-2 fa fa-calendar agenda_icon"></div>
								<div class="col-md-10 ">
									<h5 class="agenda_item_title">
										Vegetarisch koken
									</h5>
									<p class="agenda_item_text">
										Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee
									</p>
								</div>
							</div>
						</li>

					</div>
					<div class="row login_block">
						<h1>Login
						</h1>
						<div class="col-md-12">
							<form role="form">
								<div class="form-grou login_text">
									<label for="exampleInputEmail1">
										Email
									</label>
									<input type="email" class="form-control login_holes" id="exampleInputEmail1"/>
								</div>
								<div class="form-group login_text">

									<label for="exampleInputPassword1">
										Wachtwoord
									</label>
									<input type="password" class="form-control login_holes" id="exampleInputPassword1"/>
								</div>
								<button type="submit" class="btn btn-primary login_button">
									Login
								</button>
							</form>
						</div>
					</div>

				</div>
				<div
					class="col-md-9">
					<!-- middle right of the screen, this is where the main or detailpage actually appears-->
					{%  block content %}{%  endblock %}
				</div>
			</div>


			<div class="row">
				<div
					class="col-md-12 footer">
					<!--bottom section of the screen, footer if you will-->
					<div class="row">
						<div class="col-md-1">
							<img src="assets/img/verrukkulluk-pay-off.png" class="footer_logo"/>
						</div>
						<div class="col-md-11">
							<h1 class="footer_title">Contact</h1>
							<p class="footer_text">verrukkulluk.nl</p>
							<p class="footer_text">Poststraat 2b</p>
							<p class="footer_text">Sittard</p>
							<p class="footer_text">info@verrukkulluk.nl</p>
						</div>
					</div>
				</div>
			</div>


		</div>

	</body>
</body>

